@import './modules/theme';

.g-card{ // 卡片圆角背景块
  background-color: #fff;
  border-radius: 14rpx;
  min-height: 100rpx;
  width: 100%;
  padding: 18rpx;
  box-sizing: border-box;
  margin-bottom: 20rpx;
}

.g-btn-hover-scale {
  opacity: 0.8;
  transform: scale(0.99);
}
.g-btn-hover {
  background-color: $bg-color-hover;
}

.g-badge {
  position: absolute;
  right: 5px;
  top: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
  padding: 1px 3px 0 3px;
  min-width: 16px;
  line-height: 14px;
  border: 1px solid #fff;
  border-radius: 16px;
  background-color: $badge;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
}

.g-badge-sm {
  position: absolute;
  right: 5px;
  top: 0;
  color: #fff;
  font-size: 10px;
  min-width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  border-radius: 50%;
  padding: 1px;
  background-color: $color-error;
  border: 1px solid #fff;
}

.tip-txt,.tip{
  color: $text-color-assist;
  font-size: $font-size-extra-sm;
  &.warn{
    color: $color-error;
  }
}
.g-popup-main {
  $popup-radius: 12rpx;
  width: 600rpx;
  background-color: #fff;
  border-radius: $popup-radius;
  .header {
    height: 100rpx;
    padding: 0 60rpx;
    line-height: 100rpx;
    text-align: center;
    font-size: 16px;
    color: #333;
    border-bottom: 1rpx solid $border-color;
  }
  .container {
    padding: 20rpx;
  }
  .footer {
    height: 100rpx;
    padding: 0 20rpx;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom-right-radius: $popup-radius;
    border-bottom-left-radius: $popup-radius;
    border-top: 1rpx solid #f4f4f4;
  }
}

.g-screening{
  z-index: 2;
  height: 70rpx;
  line-height: 70rpx;
  background-color: $bg-color;
  padding: 0 36rpx;
  @include flex-horizon;
  justify-content: space-between;
  &.fixed{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  .g-totalCount{
    font-size: $font-size;
    color: rgba(69, 90, 100, 0.6);
  }
}

$g-footer-btn-height: 110rpx;

.g-footer-btn-main {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  .btn {
    height: $g-footer-btn-height;
    font-size: 36rpx;
    line-height: $g-footer-btn-height;
    text-align: center;
    color: #fff;
    position: relative;
  }
}
