// 主题样式变量
$white: #fefefe;
$black: #2e3c49;
$gray: #767678;
$gray-light: #C0C0C0;
$red: #ff5555;
$green: #49cc90;
$yellow: #FFC300;
$theme: #49cc90;
$theme-light: #68cc9f;
$theme-dark: #2abd7b;
$font-size: 3.6vw; // 同28rpx

$gradient-theme: linear-gradient($theme-light, $theme-dark);
$gradient-theme-h: linear-gradient(90deg, $theme-dark, $theme-light);

$border-color: rgba(#c2ced8, .8);
$page-bg: #f7f7f7;
$hover: #ececec;

$cell-text-color: #323233;
$cell-text-disabled: #969799;

$g-footer-btn-height: 110rpx;
